.listboxs {
	max-width: 800px;
	margin: 0 auto;
	padding: 50px;
    box-sizing: border-box;
}
.listboxs ul, .listboxs li {
	margin: 0;
	padding: 0;
	display: block;
	box-sizing: border-box;
    list-style: none;
}
#editable-list ul {
	display: flex;
}
#editable-list ul li {
	flex: 0 0 33.3333%;
	border: 1px solid #000;
	margin: 5px;
	height: 60px;
	max-width: calc(33.3333% - 10px);
}